<div>
    <%= form_with method: :get do |form| %>
    <div class="d-flex align-items-center">
        <div class="m-1">
            <%= form.text_field :query, value: params[:query], class: 'form-control mw-100', placeholder: 'Search for:'%>
        </div> 
        <div class="m-1">
            <%= form.submit "Search", class: 'btn btn-success' %>
        </div>
    <% end %>
</div>

<% @posts.each do |post| %>
<div class="card">
    <div class="card-header d-flex flex-column flex-md-row align-items-center">
        <span class="mr-md-auto"><strong><%=post.author.username%></strong> | <%= post.title%></span>
        <span class="text-muted my-md-0">
            Created <%= post.created_at.strftime("%Y.%m.%d  %H:%M:%S")%>
        </span>
    </div>
    <div class="card-body">
        <p class="card-text"><%= post.body%></p>
        <%= link_to 'Show', post_path(post), :class => 'btn btn-primary'%>
    </div>
</div>  
<br>
<% end %>


