<% @posts.each do |post| %>
<div class="card">
    <div class="card-header d-flex flex-column flex-md-row align-items-center">
        <span class="mr-md-auto"><strong><%=post.author.username%></strong> | <%= post.title%></span>
        <span class="text-muted my-md-0">
            Created <%= post.created_at.strftime("%Y.%m.%d  %H:%M:%S")%>
        </span>
    </div>
    <div class="card-body">
        <p class="card-text"><%= post.body%></p>
        <%= link_to 'Show', post_path(post), :class => 'btn btn-primary'%>
    </div>
</div>  
<br>
<% end %>


