<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
<hr>
<h2>Comments</h2>
<% @post.comments.each do |comment| %>
    <div>
        <p><strong><%= comment.author.username %></strong>: <%= comment.body %>
        <%= link_to 'x', [comment.post, comment],
              method: :delete
              #data: { confirm: "Delete this comment?" } 
              %>
        </p>
    </div>
<% end %>
<hr>
<%= form_for([@post,@post.comments.build]) do |f| %>
    <p>
        <%= f.text_area :body, class: 'form-control', placeholder: 'Your Comment' %>
    </p>
    <p>
        <%= f.submit "Add comment", class: 'btn btn-primary'%>
    </p>
<% end %>
<hr>
<%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-warning'%>
<%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: "Delete this post?"}, :class => 'btn btn-danger'%>