<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center bg-white border-bottom shadow-sm p-2">
      <nav class="ml-2 mr-md-auto">
        <% if user_signed_in? %>
          <span class="p-2 text-dark text-decoration-none"><%= current_user.username %></span>
          <span class="p-2 text-dark text-decoration-none">
            <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
          </span>
        <% else %>
          <span class="p-2 text-dark text-decoration-none">
            <%= link_to 'Log in', new_user_session_path %>
          </span>
        <% end %>
        <span class="p-2 text-dark text-decoration-none"><%= link_to "Main page", home_path %></span>
        <span class="p-2 text-dark text-decoration-none"><%= link_to "Add post", new_post_path %></span>
        <span class="p-2 text-dark text-decoration-none"><%= link_to "About", about_path %></span>
      </nav>
      <h5 class="my-md-0  font-weight-bold">RubyBlog</h5>
    </div>
    <div class="container-md" style="margin-top: 1em">
      <div style="margin-left:auto; margin-right:auto; width: 50%">
        <% if notice.present? %>
          <p class="notice alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="alert alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
